* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --first-color: #2980B9;
    --second-color: #FFB832;
}

#main-content{
    display: none;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #eff4fb;
    transition: .3s ease all;
}

body.dark {
    background-color: #3f3f3f;
    color: var(--second-color);
}

h1, h2 {
    font-size: 4.4rem;
}

h3 {
    font-size: 3.5rem;
}

p, li, a {
    font-family: 'Raleway', sans-serif;
}

p {
    font-size: medium;
    margin-left: 2rem;
}


/* NAVBAR */
.menu-item {
    font-size: 17px;
    color: var(--second-color);
}

.menu {
    background-color: var(--first-color);
}

.navbar-nav {
    --bs-nav-link-hover-color: #ffffff;
}

.navbar {
    --bs-navbar-toggler-border-color: var(--second-color);
}

.togglerBars {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28242, 192, 99, 100%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-button {
    display: flex;
    align-items: center;
}
/* NAVBAR */


.logo, .footerLogo {
    width: 29rem;
    height: 7rem;
    color: var(--second-color);
    text-shadow: 2px 0 0 #000, -1px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}


/* SWITCH */
.switch {
    background: #343d5b;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
}

.switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}

.switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}

.switch.active {
    background: var(--second-color);
    color: #000;
}

.switch.active::after {
    right: 0;
    left: unset;
}
/* SWITCH */


/* INDEX */
#la-empresa h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.pLe {
    font-size: 1.8rem;
    margin-left: 0;
    text-align: center;
}

.main-container {
    height: 45vh;
    background-color: var(--first-color);
}

.main-container .container .row h1 {
    margin-top: 5rem;
}

.main-btn {
    margin-top: 3.5rem;
}

.main-btn a {
    font-size: large;
    text-decoration: none;
    color: var(--second-color);
}

/* INDEX */


/* PÁGINA SERVICIOS*/
.page-servicios {
    padding: 3rem 0;
}

.titulo {
    font-size: 300%;
}

.card-color {
    background-color: #DFE9F6;
}

.card-title {
    font-weight: 600;
    font-size: 175%;
    margin-bottom: 0.50rem;
}

.card-description {
    font-weight: 500;
    font-size: 150%;
}

.card-description-2 {
    font-size: 125%;
}

.servicios-video {
    padding-top: 2rem;
    padding-bottom: 3rem;
    background-color: var(--first-color);
    display: flex;
    justify-content: center;
}

.servicios-video .row {
    background-color: var(--first-color);
    width: 100%;
    max-width: 1300px;
}
/* PÁGINA SERVICIOS*/


.title-section {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-weight: 500;
    color: var(--second-color);
    text-align: center;
    margin-left: 0;
}


/* PÁGINA CONTACTO*/
.h3-contacto {
    text-align: center;
}

.p-contacto {
    display: flex;
    justify-content: center;
}

.consultas {
    padding: 8% 70px 12%;
    height: 100%;
}

.title-consulta {
    font-size: 2rem;
}

.text-obligatorios {
    font-size: 1.6rem;
}

.input-consulta {
    font-size: 1.6rem;
    font-weight: 300;
}

.input-consulta {
    width: 100%;
    font-weight: 400;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid black;
    color: black;
    margin-top: 10px;
    padding-bottom: 5px;
}
/* PÁGINA CONTACTO*/


/* FOOTER */
.text-style {
    font-size: 15px;
    color: var(--second-color);
    margin-left: 0;
}

.p-footer {
    margin-left: 0;
    color: var(--second-color);
}

.footer {
    background-color: var(--first-color);
    margin-top: 3.5rem;
}
/* FOOTER */


.main-container {
    height: 45vh;
    background-color: var(--first-color);
}

#wave {
    margin-top: -1px;
    margin-bottom: -1px;
}

/*-------media queries-------*/

@media screen and (max-width: 768px) {
    .footer-div {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .footer-div p {
        margin-left: 0;
    }

    .footerRedes {
        justify-content: center;
    }
}

@media screen and (min-width: 769px) {
    .footer-div p {
        margin-left: 0;
    }

    .footerRedes {
        justify-content: flex-start;
    }
}

@media (max-width: 1370px) {
    .main-container {
        height: 35vh;
        background-color: var(--first-color);
    }
}

@media (max-width: 500px) {
    iframe {
        height: 25rem;
    }
}

@media (max-width: 835px) {
    .main-container {
        height: 70vh;
        background-color: var(--first-color);
    }

    .main-container .container .row h1 {
        margin-top: 8rem;
    }
}

@media (max-width: 450px) {
    .main-container {
        height: 70vh;
        background-color: var(--first-color);
    }
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader-wrapper img {
    width: 200px;
}

#btn-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, .2);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50%;
}

#btn-top:hover {
    background-color: rgba(0, 0, 0, .2);
}

#btn-top img {
    width: 40px;
    border-radius: 50%;
}
